@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@700&display=swap");

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgb(221, 221, 221);
  padding: 20px 8%;
  font-family: Montserrat, sans-serif;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 1.1rem;
  color: #0290ff;
  margin: 0 2.938rem 0.125rem 0;
  font-weight: bold;
}

.navigation {
  display: flex;
  gap: 20px;
  color: #121212;
  letter-spacing: 1.9px;
  opacity: 0.5;
  font-size: 0.813rem;
}
